<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>About us</title>
</head>
<body>

    <div class="wrapperContainer">

        {{>nav}}
    <div class="aboutContainer">


        <div class="imageBox">
            <img src="imgs/user.svg" alt="userImg">
        </div>
        <div class="contentBox">
            <h2>I am a <span>MERN Stack Developer</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae labore soluta repellat! Sunt non molestias atque quaerat repellendus dicta praesentium, consequatur porro nobis culpa quam obcaecati aliquam modi, cum voluptate?</p>
            <a href="/" class="contactMe">Contact Me</a>
        </div>
    </div>
    </div>
    {{>footer}}

</body>
</html>