<div class="nav">
    <nav class="navBar">
        <a class="brand" href="#">MyWeatherApp</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>